<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog CSM</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to my Blog!</h1>
  </header>
  <nav>
    <a href="/Homepage">Homepage</a>
        <a href="/Dashboard">Dashboard</a>
            <a href="/Login">Login</a>


  </nav>
  <main>
    <aside>
      <h2>Enjoy the Blog!</h2>
    </aside>
    <div class="Blog">
      {{{body}}}
    </div>
  </main>
</body>

</html>