<div class="form-container">
    <h1>Signup</h1>
    <form action="/api/user/signup" method="POST">
        <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input name="email" id="email" class="input" type="email" placeholder="Email">
            <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
            </span>
        </p>
        </div>
        <div class="field">
        <p class="control has-icons-left">
            <input name="password" id="password" class="input" type="password" placeholder="Password">
            <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
            </span>
        </p>
        </div>
        <div class="field">
        <p class="control">
            <button class="button is-success">
            Signup
            </button>
        </p>
        </div>         
    </form>
   
</div>
